/* style.css */

a {
	color: inherit;
}

tr.hover {
   cursor: pointer;
}

button{
	margin: 15px;
}

nav{
	margin-bottom: 20px;
}

body{
	background-image: url('img/back.jpg');
	background-size: cover;
}

hr {
	border: 1px solid rgba(0, 0, 0, 0);
}

.imagem-perfil{
	width: 100px;
	height: 100px;
}

.card p{
	font-size: 1em;
}

.container{
	margin-top: 1.5em;
}

.nav-wrapper {
	background-color: #00838f;
}
