/* style.css */

a {
	color: inherit;
}

tr.hover {
   cursor: pointer;
}

.imagem-perfil{
	width: 100px;
	height: 100px;
}

.card p{
	font-size: 1.5em;
}

button{
	margin: 15px;
}

nav{
	margin-bottom: 20px;
}
